/* resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(218, 223, 225);
}

h2 {
  font-size: 1.5rem;
}

/* defintion of main grid template */
.grid-container {
  font-size: 1.5rem;
  font-family: sans-serif;
  height: 100vh;
  grid-gap: 20px;

  display: grid;
  grid-template:
    "hd hd hd hd hd" auto
    ". lc mc rc ." 1fr /
    1fr 300px 500px 300px 1fr;
}

.header {
  grid-area: hd;
}

.header {
  grid-area: hd;
  background-color: white;
}

.left-container {
  grid-area: lc;
}

.main-container {
  grid-area: mc;
}

.right-container {
  grid-area: rc;
}

/* utility classes  */
.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.two-column-grid__expand-one {
  display: grid;
  grid-template-columns: auto 1fr;
}

.two-column-grid__expand-two {
  display: grid;
  grid-template-columns: 1fr auto;
}

.four-column-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.big-box {
  margin: 5px;
  height: 200px;
  border: blue 2px dashed;
}

.small-box {
  margin: 5px;
  height: 50px;
  border: green 2px dashed;
}

.very-big-box {
  height: 500px;
  border: violet 2px dashed;
}

/* specific element styling from here onwards */

/* header section */
.header-container {
  margin: 0 auto;
  max-width: 1140px;
}

.widget {
  font-size: 2rem;
  padding-left: 1em;
  color: rgb(66, 64, 64);
}

.linkedin-widget {
  font-size: 3rem;
  margin-right: 5px;
  color: #2a66bc;
}

.header-container {
  padding: 5px 0;
}

.search-bar {
  width: 60%;
  justify-self: center;
  align-self: center;
  border: none;
  border-radius: 15px;
  height: 3.4em;
  padding: 2px 23px 2px 30px;
  background-color: rgb(228, 220, 220);
}

/* main section for writing post */
.main-status {
  background-color: white;
}

.main-status > * {
  padding: 10px;
}

.status-write {
  font-size: 2.5rem;
}

.post-user {
  padding-right: 5px;
  color: #312e2e;
}

.post-bar {
  width: 95%;
  align-self: center;
  border: none;
  border-radius: 15px;
  height: 3em;
  padding: 2px 20px;
  border: solid 1px rgb(228, 220, 220);
}

.status-type i {
  padding: 10px 0;
  justify-items: center;
  font-size: 0.5em;
  padding-left: 1em;
  color: #363434;
}

.main-container {
  display: grid;
  grid-auto-rows: min-content 80vh;
  grid-gap: 10px;
}

.main-2 {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 10px;
  overflow-y: scroll;
}

.main-2 div {
  background-color: white;
}
/* left side styling */

.left-container {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

.left-container > * {
  background-color: white;
}

/* right side styling */

.right-container {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

.right-container > * {
  background-color: white;
}

.right-container li {
  font-size: 1rem;
}

.sub-text {
  font-size: 0.75rem;
  color: #666666;
}
h2 {
  margin-bottom: 10px;
}

h2,
.sub-text,
li {
  padding-left: 10px;
}

li {
  list-style-position: inside;
  padding: 10px 0;
}

.news {
  margin: 5px;
  padding: 10px;
}
